<yandex>
  <users>
    <{{ ch_admin_user }}>
      <password>{{ ch_admin_password }}</password>
      <networks>
        <ip>::/0</ip>
      </networks>
      <profile>default</profile>
      <quota>default</quota>
      <access_management>1</access_management>
    </{{ ch_admin_user }}>
  </users>
</yandex>
