<yandex>
  <remote_servers>
    <{{ cluster_name }}>
      {% for shard in ['clickhouse_s1','clickhouse_s2','clickhouse_s3'] %}
      <shard>
        {% for h in groups[shard] %}
        <replica>
          <host>{{ hostvars[h].inventory_hostname }}.dc.local</host>
          <port>{{ ch_tcp_port }}</port>
        </replica>
        {% endfor %}
      </shard>
      {% endfor %}
    </{{ cluster_name }}>
  </remote_servers>
</yandex>
