<yandex>
  <zookeeper>
  {% for z in groups['zookeeper'] %}
    <node>
      <host>{{ hostvars[z].inventory_hostname }}.dc.local</host>
      <port>2181</port>
    </node>
  {% endfor %}
  </zookeeper>
</yandex>
